[package]
name = "web"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["router", "fullstack"] }
dioxus-web = "0.7.1"
ui = { workspace = true }

[features]
default = []
web = ["dioxus/web"]
server = ["dioxus/server", "ui/server"]
